page-monthly {
  .page-title {
    color: #ffffff;
    font-size: 1.5em;
    text-align: center;
    align-items: center;
    // padding-right: 45px;
  }

  .home .label{
    background: #ffffff;
    color: #000;
  }

  // .toolbar-md{
  //   padding: 0px 5px 0px 0px;
  // }
  .list-md{
      margin: 0;
  }

  .list-ios{
    margin: 0;
  }

    .toolbar-background{
      background: #ffffff;
      align-items: center;
    }

    .ion-select {
      max-width: 60%;
    }

    .item-input {
      color: #000;
    }

.fab[mini] {
    margin: -3px 0px 0px 0px;
    width: 40px;
    height: 40px;
    line-height: 40px;
}

.toolbar-ios {
    padding: 1px;
    min-height: 44px;
}

    // .scroll-content {
    //         background-color: map-get($colors, light);
    //     }
    //
    //     ion-card-header {
    //         font-weight: bold;
    //     }
}
